.nfo {
  font-family: terminal;
  font-size: 10px; }

hr {
  height: 1px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border: 1px dotted #C8C8C8; }

p {
  margin: 0px;
  padding: 0px; }

ul, ol {
  list-style-position: inside;
  list-style-type: none; }

a, img {
  border: 0px none;
  outline: none; }

h1 {
  font-size: 11pt;
  color: #C8C8C8; }

h2 {
  font-size: 10pt;
  color: #444; }

h3 {
  font-size: 9pt;
  color: #444; }

h4, h5, h6 {
  font-size: 8pt; }

table {
  border-collapse: collapse; }

/* This file is full of !important because of how files are ordered in A!O's
 * header, nothing I can do about that - You have been warned
 */
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  color: #181818 !important;
  background-color: #C8C8C8 !important; }
  .nav-pills .nav-item.show .nav-link:hover, .nav-pills .nav-link.active:hover {
    font-weight: normal !important; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #181818 !important;
  background-color: #C8C8C8 !important;
  border-color: #aaa; }

.nav-pills .nav-link:hover {
  color: #181818 !important;
  background-color: #C8C8C8 !important; }

.nav-tabs .nav-item .nav-link:hover {
  color: #181818 !important; }

.panel-info {
  border: none !important; }

.panel-info > .panel-heading {
  color: #C8C8C8 !important;
  background-color: #181818 !important;
  border: none !important;
  border-bottom: 1px solid #777 !important; }

.panel-body {
  background-color: #181818 !important;
  border: none !important; }

input, select {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1px;
  padding: 2px;
  border: 1px solid #777;
  background-color: #E5E5E5; }

input {
  font-size: 11px; }

select {
  font-size: 10px; }

input[type=reset], input[type=button], input[type=reset], input[type=submit] {
  border: 1px solid #999;
  padding: 3px 6px;
  background: #e3e3e3 url(../../forum/admin/styles/default/images/submit_bg.png) repeat-x top;
  color: #444;
  font-family: verdana, helvetica, sans-serif;
  margin-right: 3px;
  font-size: 1.0em; }

input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
  border: 1px solid #666;
  background: #efefef;
  cursor: pointer; }

input[type=text] {
  -moz-box-shadow: inset 0 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #444; }

input[type=password] {
  color: #FF6600; }

input#tsearchtxt, input#tsearchfrom, input#tsearchto {
  -moz-box-shadow: inset 0 0 0 1px #AAA;
  -webkit-box-shadow: inset 0 0 0 1px #AAA;
  box-shadow: inset 0 0 0 1px #AAA;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FAFAFA;
  color: rgba(0, 0, 0, 0.8);
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.select {
  display: inline-block;
  position: relative; }

.select select {
  -moz-box-shadow: inset 0 0 0 1px #AAA;
  -webkit-box-shadow: inset 0 0 0 1px #AAA;
  box-shadow: inset 0 0 0 1px #AAA;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  padding: 4px 17px 4px 4px;
  margin: 0 0 0 10px;
  transition: border-color 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #FAFAFA;
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px; }

.select .arr {
  background: #FAFAFA;
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  width: 13px;
  pointer-events: none; }

.select .arr:before {
  content: '';
  position: absolute;
  top: 5px;
  pointer-events: none;
  border-top: 5px solid rgba(0, 0, 0, 0.8);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; }

a:link, a:active {
  text-decoration: none;
  color: #C8C8C8; }

a:visited {
  text-decoration: none;
  color: #C8C8C8; }
  a:visited:hover {
    text-decoration: underline; }

a:hover {
  text-decoration: underline; }

span#wide-searches {
  text-decoration: none;
  color: #C8C8C8; }

span#wide-searches:hover {
  cursor: pointer; }

span#shout-notify {
  text-decoration: none;
  color: #B3E5FC; }

span#shout-notify:hover {
  cursor: pointer;
  text-decoration: underline; }

.navigation {
  text-align: center;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 40px;
  width: 100%;
  background: #212121;
  border: none; }

.menu {
  display: table;
  padding: 0px;
  height: 27px;
  clear: both;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  font-family: verdana, helvetica, sans-serif; }
  .menu ul {
    display: table-row;
    margin: 0px;
    padding: 0px; }
    .menu ul li {
      display: table-cell;
      margin: 0px;
      padding: 0px; }
      .menu ul li a {
        font-size: 12px;
        line-height: 40px;
        font-weight: bold;
        color: #C8C8C8;
        text-decoration: none;
        display: block;
        margin: 0px;
        width: auto;
        padding-top: 0px;
        padding-right: 18px;
        padding-bottom: 0px;
        padding-left: 18px; }
        .menu ul li a:hover {
          text-decoration: underline; }

.bMenu {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%; }
  .bMenu ul {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style-position: inside;
    list-style-type: circle; }
    .bMenu ul li {
      width: auto;
      color: #666;
      text-decoration: none; }

#navigate ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto; }
  #navigate ul li {
    margin: 0px;
    padding: 0px;
    width: 100%; }
    #navigate ul li a {
      text-align: left;
      text-indent: 3px;
      display: block;
      margin: 0px;
      padding: 0px;
      height: 18px;
      width: 100%;
      font-family: verdana, helvetica, sans-serif;
      line-height: 18px;
      font-size: 11px;
      color: #C8C8C8; }
      #navigate ul li a:hover {
        color: #C8C8C8;
        text-decoration: underline;
        text-indent: 3px; }

#nMember, #uOnline {
  margin: 2px;
  width: 98%;
  padding: 2px;
  font-family: Verdana, sans-serif; }

#nMember p, #uOnline p {
  display: inline; }

#nMember ul, #nMember li, #uOnline ul, #uOnline li {
  display: inline;
  margin: 0;
  padding: 0;
  color: #C8C8C8; }

.nav-item .active {
  background-color: #7db9e8; }

.ttable_headouter {
  border-collapse: collapse; }

.ttable_headinner {
  margin-top: 0;
  border-collapse: collapse;
  border: none;
  outline: none; }

.ttable_head {
  font-family: verdana, helvetica, sans-serif;
  color: #C8C8C8;
  font-size: 8pt;
  text-align: center;
  line-height: 25px;
  border: none;
  border-bottom: 1px solid #464646;
  background-color: #181818; }

.ttable_col1 {
  font-family: verdana, helvetica, sans-serif;
  border: none;
  border-bottom: 1px solid #464646;
  font-size: 8pt;
  background-color: #292929;
  padding-top: 4px;
  padding-bottom: 4px; }

.ttable_col2 {
  font-family: verdana, helvetica, sans-serif;
  border: none;
  border-bottom: 1px solid #464646;
  font-size: 8pt;
  background-color: #212121;
  padding-top: 4px;
  padding-bottom: 4px; }

.ttable_col_err {
  font-family: verdana, helvetica, sans-serif;
  border: 1px solid #777;
  font-size: 8pt;
  background-color: #E69595;
  padding: 3px; }

.ttable_colx {
  font-family: verdana, helvetica, sans-serif;
  border: 1px solid #777;
  font-size: 8pt;
  background-color: #CECECE;
  background-image: url(images/t-row.gif);
  background-repeat: repeat-x;
  background-position: top; }

.t-row a:visited {
  color: #9E9E9E; }

.ttable_new1 {
  background-color: #292929;
  border-top: none;
  border-bottom: 1px solid #464646; }
  .ttable_new1 font[color="#ff0000"] {
    color: #8BC34A; }

.ttable_new2 {
  background-color: #212121;
  border-top: none;
  border-bottom: 1px solid #464646; }
  .ttable_new2 font[color="#ff0000"] {
    color: #8BC34A; }

.ttable_seeding {
  background-color: #33691E; }

.table_table {
  border: #777;
  border-style: border-style;
  border-width: 1px;
  border-collapse: collapse; }

.table_head {
  font-family: verdana, helvetica, sans-serif;
  color: #C8C8C8;
  font-size: 8pt;
  text-align: center;
  line-height: 15px;
  border: none;
  border-bottom: 1px solid #464646;
  background-color: #181818; }

.table_col1 {
  font-family: verdana, helvetica, sans-serif;
  border: none;
  border-bottom: 1px solid #464646;
  font-size: 8pt;
  background-color: #292929;
  padding-top: 3px;
  padding-bottom: 3px; }

.table_col2 {
  font-family: verdana, helvetica, sans-serif;
  border: none;
  border-bottom: 1px solid #464646;
  font-size: 8pt;
  background-color: #212121;
  padding-top: 3px;
  padding-bottom: 3px; }

.table_col1 font[color=green] {
  color: #8BC34A; }

.table_col1 font[color=red] {
  color: #E57373; }

.table_col2 font[color=green] {
  color: #8BC34A; }

.table_col2 font[color=red] {
  color: #E57373; }

.table_col_err {
  font-family: verdana, helvetica, sans-serif;
  border: 1px solid #777;
  font-size: 8pt;
  background-color: #8e8e8e;
  padding: 5px; }

.prof-table {
  font-family: verdana, helvetica, sans-serif;
  font-size: 11px; }

.prof-table th {
  text-align: left; }

.prof-table td {
  text-indent: 4px; }

.prof-lbl {
  width: 120px; }

.stats-table, .themes-table {
  font-family: verdana, helvetica, sans-serif;
  font-size: 10px; }

.stats-table th {
  text-align: left; }

.stats-table td {
  text-indent: 4px; }

/* -- ShoutBox Styles -- */
.shoutbox_body {
  font-family: verdana;
  color: black;
  float: middle;
  background-color: #C8C8C8; }

.shoutbox_contain {
  border: 0;
  height: 440;
  max-height: 440;
  width: 100%;
  overflow: auto;
  align: middle;
  background-color: black; }
  .shoutbox_contain a[target="_blank"] {
    color: #B3E5FC; }

.shoutbox_contain table {
  width: 100% !important; }

.shoutbox_history {
  border: 0;
  height: 100%;
  width: 100%;
  align: middle; }

.shoutbox_messageboxback {
  background-color: #212121; }

.shoutbox_noalt {
  background-color: #292929;
  display: table;
  width: 100%; }

.shoutbox_alt {
  background-color: #212121;
  display: table;
  width: 100%; }

.shoutbox_noalt td {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #464646; }

.shoutbox_alt td {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #464646; }

.shoutbox_msgbox {
  width: 100%;
  font-size: 12px;
  background-color: #E5E5E5;
  border: 1px solid #777; }

.shoutbox_shoutbtn {
  font-size: 12px;
  background-color: AliceBlue;
  border: 1px solid black;
  font-weight: bold; }

.shoutdel-link:hover {
  cursor: pointer; }

div[data-com="0"] {
  opacity: 0.9;
  filter: alpha(opacity=90); }

div[data-com^="1"] {
  opacity: 0.3;
  filter: alpha(opacity=30); }

font[color=green] b {
  color: #8BC34A; }

font[color="#ff0000"] b {
  color: #E57373; }

font[color=black] b {
  color: #C8C8C8; }

#online-count {
  color: #212121;
  padding-left: 2px;
  padding-right: 2px; }

input[type=file] {
  color: #212121; }

.dropzone {
  color: black; }

form[name="upload"] font {
  color: #F06292 !important; }

select[name="stylesheet"], select[name="language"] {
  width: 100%; }

body {
  color: #C8C8C8;
  background-color: #424242;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt; }

.wrapper {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: relative; }

.header {
  display: block;
  margin: 0px;
  padding: 0px;
  height: 80px;
  width: 100%; }

.logo {
  display: block;
  margin: 0px;
  padding: 0px;
  height: 46px;
  width: 312px;
  left: 0;
  top: 0;
  padding-top: 16px;
  padding-left: 15px; }

.infobar {
  color: #C8C8C8;
  display: block;
  margin: 0px;
  padding: 0px;
  clear: right;
  float: right;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px; }
  .infobar font[color="#ff0000"] {
    color: #8BC34A; }

#main {
  padding: 6px;
  display: block;
  position: relative;
  margin: 0px; }

.credits {
  text-align: center;
  display: block;
  margin: 0px;
  padding: 10px;
  width: auto;
  line-height: 16px; }

.avatar {
  max-width: 120px;
  max-height: 120px; }

.comment-avatar {
  max-width: 80px;
  max-height: 80px; }

/* -- Block Styles -- */
.outerblock {
  width: 100%;
  margin-top: 15%;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center; }

.myBlock-login {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 50%;
  border: 1px solid #4C4C4C;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-radius-topleft: 8px;
  -webkit-border-radius-topright: 8px; }

.myBlock-content-login {
  display: block;
  padding: 12px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #777;
  border-bottom-color: #777; }

.myBlock {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: none; }

.myBlock-caption {
  color: #C8C8C8;
  background: #212121;
  border: none;
  border-bottom: 1px solid #F8BBD0;
  text-align: center;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 25px;
  font-family: verdana, helvetica, sans-serif;
  font-size: 11px;
  line-height: 25px;
  font-weight: bold; }

.myBlock-content {
  display: block;
  padding: 4px;
  border: 1px solid #212121;
  background-color: #212121; }

.myBlock-foot {
  display: none; }

/* -- Frame Styles  -- */
.myFrame {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: none; }

.myFrame-caption {
  text-align: center;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 25px;
  font-family: verdana, helvetica, sans-serif;
  font-size: 11px;
  line-height: 25px;
  font-weight: bold;
  color: #C8C8C8;
  background: #212121;
  border: none;
  border-bottom: 1px solid #F8BBD0; }

.myFrame-content {
  display: block;
  padding: 0px 4px 4px 4px;
  border: 1px solid #212121;
  background-color: #212121; }

.myFrame-news {
  display: block;
  padding-left: 5%;
  padding-right: 5%; }

.myFrame-foot {
  display: none; }

/* DEFINE THE EXPAND CROSS LOCATION IN TORRENTTABLE */
.showthecross {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 2px;
  float: left; }

/* -- Download Styles -- */
#downloadbox {
  border: 1px solid #777;
  background: #181818;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83b8ff', endColorstr='#3d91ff', GradientType=0 );
  padding: 10px;
  box-shadow: none; }
  #downloadbox a {
    font-size: 13px;
    font-weight: bold;
    color: #C8C8C8; }

.myFrame-content font[color=green] {
  color: #8BC34A; }
.myFrame-content font[color=red] {
  color: #E57373; }

#ty-button {
  color: black; }
  #ty-button:hover {
    cursor: pointer; }

#ty-button[data-ty="1"] {
  opacity: 0.4;
  filter: alpha(opacity=40); }
  #ty-button[data-ty="1"]:hover {
    background: #ddded9;
    cursor: default; }

img[data-ty="0"] {
  opacity: 0.9;
  filter: alpha(opacity=90); }
  img[data-ty="0"]:hover {
    cursor: pointer; }

img[data-ty="1"] {
  opacity: 0.3;
  filter: alpha(opacity=30); }

#torrent-marker {
  color: #C8C8C8; }
  #torrent-marker:hover {
    cursor: pointer;
    text-decoration: underline; }

/* -- Error Styles -- */
.shoutbox_error {
  color: red;
  font-size: 13px; }

.error {
  color: #FFFFFF; }

.notification {
  color: #000000; }

/* -- Forum Styles -- */
/* BBCODE CSS CLASS'S */
small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px; }

/* FORUM CSS CLASS'S */
.f-header {
  background-image: url(images/f-header.gif);
  background-repeat: repeat-x;
  background-position: top;
  border: 1px solid #777;
  background-color: #3d91ff; }

.f-logo {
  border: 2px solid #FFF;
  background-image: url(images/f-logo.gif);
  background-repeat: no-repeat;
  background-position: center -1px;
  -moz-box-shadow: inset 0 0 0 1px #fff;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff; }

.f-logo td {
  padding: 6px;
  height: 30px; }

.f-location {
  border: 1px solid #777;
  margin-bottom: 8px; }

.f-nav {
  border: 2px solid #FFF;
  display: block;
  height: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 28px;
  text-align: left;
  text-indent: 10px;
  background-image: url(images/f-location.gif);
  background-repeat: repeat-x;
  background-position: top;
  color: #FFFFFF; }

.f-nav a {
  text-shadow: none;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

.f-post {
  margin-top: 8px;
  margin-bottom: 8px; }

.f-cat {
  background-image: url(images/f-cat.gif);
  background-repeat: repeat-x;
  background-position: top;
  margin: 0px;
  padding: 0px;
  height: 28px; }

.f-cat td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  height: 28px;
  text-shadow: 0px 1px 2px #000;
  -moz-box-shadow: inset 0px 0px 0px 1px #fff;
  -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
  box-shadow: inset 0px 0px 0px 1px #fff;
  margin: 0px;
  padding: 0px; }

div.f-cat {
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #777;
  border-right-color: #777;
  border-left-color: #777; }

table.f-border, .f-border table {
  border: none; }

.f-border table tr {
  border: none; }

tr.f-title {
  background-color: #181818; }

tr.f-title th {
  line-height: 26px;
  height: 26px;
  padding-right: 3px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: none; }

tr.f-row {
  background-color: #FFF; }

tr.f-row:hover {
  background-color: #D5D5D5; }

.f-row .f-img {
  background-image: url(images/alt1.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 38px;
  padding-left: 18px; }

.f-row:hover .f-img {
  background-image: url(images/alt2.png); }

.alt1 {
  background-color: transparent;
  padding-left: 5px; }

.alt2 {
  border: 1px solid #777;
  border-collapse: collapse;
  background: none !important; }

.alt3 {
  border: 1px solid #777; }

tr.p-title {
  background-color: #181818; }

tr.p-title th {
  color: #C8C8C8;
  line-height: 20px;
  font-family: verdana, helvetica, sans-serif;
  font-size: 11px;
  padding-right: 4px; }

tr.p-title small {
  font-family: verdana, helvetica, sans-serif;
  font-size: 10px; }

.p-foot {
  color: #333;
  font-size: 10px;
  font-weight: normal;
  border-collapse: collapse;
  background-image: url(images/f-location.gif);
  background-repeat: repeat-x;
  background-position: top; }

.p-foot td {
  padding: 3px; }

.p-foot img {
  vertical-align: middle; }

.f-title a, .p-title a {
  color: #C8C8C8;
  text-decoration: none; }

.b-border {
  display: block;
  border: 1px solid #777;
  padding: 0px;
  margin-left: 10%;
  margin-right: 10%; }

.b-border table {
  border-collapse: collapse; }

.bb-header {
  font-family: verdana, helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  display: block;
  margin: 0px;
  padding: 0px;
  line-height: 25px;
  color: #000;
  background: #aaa;
  border: 1px solid #FFF;
  text-align: center; }

.bb-text-box {
  display: inline-block;
  width: 100%;
  padding: 0; }

.bb-text-box textarea.text_input {
  border: 1px solid #aaa;
  font-size: 13px;
  font-family: verdana, helvetica, sans-serif;
  outline: 0;
  display: block;
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.bb-text-box textarea:focus {
  border: 1px solid #777; }

.bb-buttons-box {
  clear: both;
  background: #efefef;
  border-bottom: 1px solid #ddd;
  padding: 4px 4px; }

.bb-smiles-box {
  clear: both;
  background: #efefef;
  border-bottom: 1px solid #ddd;
  padding: 4px 4px; }

.bb-buttons-box input {
  border: 1px solid #999;
  padding: 3px 6px;
  background: #e3e3e3 url(../../forum/admin/styles/default/images/submit_bg.png) repeat-x top;
  color: #444;
  font-family: 'Lucida Grande', verdana, Arial, sans-serif;
  margin-right: 3px;
  font-size: 0.8em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.bb-other {
  clear: both;
  background: #efefef;
  border-top: 1px solid #ddd;
  padding: 4px 5px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px; }

.bb-other-link {
  padding-top: 4px;
  font-size: 11px; }

.bb-other-link a {
  color: #555; }

.bb-comment, .bb-btn, .b-title {
  border: none; }

.comment-details, .bb-btn {
  background-color: #181818;
  border: none;
  border-top: 1px solid #777; }

.comment, .bb-comment {
  background-color: #181818;
  border: none;
  border-top: 1px solid #777;
  padding: 10px; }

.comment-footer {
  background-color: #181818;
  border: none;
  padding: 5px; }

.comment-new-details {
  background-color: #616161;
  border: none; }

.comment-new {
  background-color: #616161;
  border: none;
  padding: 10px; }

/* Required fields... */
.required {
  font-size: 1px;
  color: #ff0000; }

/* CUSTOM */
a.selected {
  border-bottom: solid blue; }

a.staff, span.staff {
  color: #EC407A;
  font-weight: bold; }

a.graduate, span.graduate {
  color: #F48FB1;
  font-weight: bold; }

a.sharer, span.sharer {
  color: #AED581;
  font-weight: bold; }

a.distributor, span.distributor {
  color: #4FC3F7;
  font-weight: bold; }

/* original uploader D68809 */
a.uploader, span.uploader {
  color: #FFEB3B;
  font-weight: bold; }

a.uploaderplus, span.uploaderplus {
  color: #F9A825;
  font-weight: bold; }

a.category-link, a.page-link {
  color: #C8C8C8; }
  a.category-link b, a.page-link b {
    color: #9E9E9E; }

a.category-link:hover, a.page-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: inherit; }

.shoutbox-reconnect {
  cursor: pointer;
  text-decoration: underline;
  color: #036; }

p.sub-filters {
  margin-left: 20px;
  margin-right: 20px; }

p.sub-filters a {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  display: inline-block;
  width: 60px;
  background-color: #FAFAFA;
  color: #181818;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 3px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer; }

p.sub-filters a:hover {
  background-color: #B3E5FC; }

p.sub-filters a.tt-sub-filter {
  width: 80px; }

p.sub-filters a.tt-fl-filter {
  width: 80px; }

p.sub-filters a.tt-res-filter {
  width: 80px; }

p.sub-filters a.tt-subcat-filter {
  width: 80px; }

p.sub-filters a.selected {
  background-color: #B3E5FC;
  font-weight: normal;
  color: #181818;
  border: 1px solid #B3E5FC; }

p.last-main-cat {
  display: none; }

#tsearchtxt {
  margin-left: 20px; }

#status-edit:hover {
  cursor: pointer; }

.dropboxzone {
  width: 100%;
  height: 220px;
  border: 1px solid; }

.smile-angel {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: 0px 0px; }

.smile-bad {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -16px 0px; }

.smile-bomb {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -32px 0px; }

.smile-brb {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -48px 0px; }

.smile-confused {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -64px 0px; }

.smile-cool {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -80px 0px; }

.smile-crying {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -96px 0px; }

.smile-devilish {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -112px 0px; }

.smile-eek {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -128px 0px; }

.smile-glasses {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -144px 0px; }

.smile-grin {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -160px 0px; }

.smile-help {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -176px 0px; }

.smile-idea {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -192px 0px; }

.smile-important {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -208px 0px; }

.smile-kiss {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -224px 0px; }

.smile-love {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -240px 0px; }

.smile-monkey {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -256px 0px; }

.smile-plain {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -272px 0px; }

.smile-razz {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -288px 0px; }

.smile-sad {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -304px 0px; }

.smile-smile {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -320px 0px; }

.smile-smile-big {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -336px 0px; }

.smile-surprise {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -352px 0px; }

.smile-warn {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -368px 0px; }

.smile-wink {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/smilies1.png);
  background-position: -384px 0px; }

/* MODAL RELATED */
.torrent-image {
  cursor: pointer;
  transition: 0.3s; }

.torrent-image:hover {
  opacity: 0.7; }

/********************************/
/* The Modal (background) */
/********************************/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */ }

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%; }

/* Add Animation - Zoom in the Modal */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }
@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
/* The Close Button */
.torrent-image-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.torrent-image-close:hover,
.torrent-image-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

.torrent-image-wait {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px; }

.arrow-right {
  width: 50px;
  height: 50px;
  background-image: url(../../images/arrows-sprite.png);
  background-position: 0px -75px;
  position: absolute;
  top: 50%;
  left: 95%;
  margin: -25px 0 0 -25px; }

.arrow-left {
  width: 50px;
  height: 50px;
  background-image: url(../../images/arrows-sprite.png);
  background-position: 0px -25px;
  position: absolute;
  top: 50%;
  left: 5%;
  margin: -25px 0 0 -25px; }

.freeleech-box {
  display: inline-block;
  color: black;
  background: #C5E1A5;
  border: 1px solid #C5E1A5;
  padding: 4px;
  margin-bottom: 5px;
  font-family: verdana, helvetica, sans-serif; }

.tor-button {
  display: inline-block;
  background: #ddded9;
  border: 1px solid #75706c;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 4px;
  width: 80px;
  text-align: center;
  font-family: verdana, helvetica, sans-serif; }

.tor-button a {
  text-decoration: none;
  color: black; }

.tor-button:hover {
  background: #bde7fd;
  border: 1px solid #507a92;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }

/*# sourceMappingURL=aidoru-dark-theme.css.map */
